---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Our Mission: Innovative tools to <strong>transform</strong> your integrations, apis and DevOps</h2>
			<p class="pb-0 text-lg">
				At Skalena, we connect businesses, opportunities, and innovation, empowering companies to gain competitive and economic advantages through the principles of the "Connected Company."
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Digital Strategy"
				subtitle="We chart your path to success in the digital realm by identifying opportunities, setting clear objectives, and crafting a robust action plan to achieve your goals."
				image={feature01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="API Exposure and Protection"
				subtitle="Securely expose APIs to unlock innovation and foster collaboration while ensuring robust security protocols are in place."
				image={feature02}
				link="/features"
			/>
			<Card
				title="Digital Products Development"
				subtitle="From concept to launch, we offer expertise in developing innovative digital solutions, including mobile applications, system integration and modernization, and secure API exposure."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Commitment to Excellence"
				subtitle="We strive for excellence from our initial engagement through proposal design and partnership, ensuring active participation in our clients' success."
				image={feature04}
				link="/features"
			/>
			<Card
				title="Platform Modernization"
				subtitle="Break free from outdated systems. Modernize your platforms to embrace flexibility, scalability, and performance."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
