---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.png'
import feature02 from '../../../assets/cards/feature-02.png'
import feature03 from '../../../assets/cards/feature-03.png'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Our Mission: Innovative tools to <strong>transform</strong> your integrations, apis and DevOps</h2>
			<p class="pb-0 text-lg">
				At Skalena, we connect businesses, opportunities, and innovation, empowering companies to gain competitive and economic advantages through the principles of the "Connected Company."
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Digital Strategy"
				subtitle="In today’s fast-evolving digital landscape, staying ahead requires more than just innovation—it demands a clear and actionable strategy that aligns with your business goals. At Skalena, we specialize in creating comprehensive Digital Strategies that empower organizations to unlock their full potential and achieve sustainable growth.Our approach begins with understanding your unique challenges and opportunities. We work closely with you to identify key areas for transformation, define measurable objectives, and design a customized roadmap to success. Whether it’s optimizing operational efficiency, modernizing systems, or enhancing customer experiences, we ensure that every step of the journey is driven by cutting-edge technology and a deep understanding of your business. By leveraging advanced tools, industry insights, and proven methodologies, Skalena helps you navigate complexity, mitigate risks, and turn challenges into opportunities. Our team of experts ensures that your digital initiatives not only meet today’s demands but also prepare your organization for the future of a connected and competitive world. Let Skalena guide your business to new heights. Together, we’ll shape a digital strategy that drives results and positions your organization as a leader in your industry."
				image={feature01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="API Exposure and Protection"
				subtitle="Securely expose APIs to unlock innovation and foster collaboration while ensuring robust security protocols are in place."
				image={feature02}
				link="/features"
			/>
			<Card
				title="Digital Products Development"
				subtitle="At Skalena, we transform ideas into innovative digital products. Our process begins with understanding client needs, leading to the creation of solutions that are both technologically advanced, business results-driven and user-centric."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Commitment to Excellence"
				subtitle="We strive for excellence from our initial engagement through proposal design and partnership, ensuring active participation in our clients' success."
				image={feature04}
				link="/features"
			/>
			<Card
				title="Platform Modernization"
				subtitle="Break free from outdated systems. Modernize your platforms to embrace flexibility, scalability, and performance."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
